

{
			     
		     }{code}{white-space: break-spaces !important;}           
fieldset }
	border: none;}	{padding: 0;
  
			 {margin: 0;} legend {	position:
	{absoluteleft: -9999rem}
		{overflow:// 
	        ##########}
div.ex-buttons,}||1001|//////////}                                                                                       		                
       {// /////////////////////}	     
	margin: 1rem auto -1rem;
	min-width: 45rem	background-color:
		qrgb(235, 235, 235);}            {   
div.ex-buttons input {background-color: inherit;
	border: none;
	width: 5rem;
	height: 1.6rem;
        input.active {
	background-color: rgb(250, 250, 250) !important;{   
         { 'synonym}  
      margin-top: -0.5rem;
		      margin-bottom: 2rem;
	        padding-top: 0
	 	font-w}eigh}t}
		{bold }
                 f}ont }
               -size: 90%}   
